// ## Colors

// ### Primary

$Lime-Green: hsl(163, 72%, 41%);
$Bright-Red: hsl(356, 69%, 56%);

$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$YouTube: hsl(348, 97%, 39%);

// #### Dark Theme

$Toggle-Grad: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
//  linear-gradient  to ;

// #### Light Theme

$Toggle: hsl(230, 22%, 74%);

// ### Neutral

// #### Dark Theme

$Very-Dark-Blue-BG: hsl(230, 17%, 14%);
$Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
$Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
$Desaturated-Blue-Text: hsl(228, 34%, 66%);
$White-Text: hsl(0, 0%, 100%);

// #### Light Theme

$White-BG: hsl(0, 0%, 100%);
$Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
$Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
$Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
$Very-Dark-Blue-Text: hsl(230, 17%, 14%);

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 10px;
}
body {
  min-height: 100vh;
  background-color: $Very-Dark-Blue-BG;
  font-family: "Inter";
  &.toggle {
    background-color: $White-BG;
  }
}

.container {
  width: 75%;
  max-width: 160rem;
}

main {
  background-color: $Very-Dark-Blue-Top-BG-Pattern;
  height: 33vh;
  border-radius: 0 0 2rem 2rem;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  transition: 300ms;
  @media screen and (max-width: 700px) {
    height: 40vh;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
    hr {
      //   height: 1px;
      //   color: transparent;
      display: none;
      height: 0;
      border: none;
      border-top: 1px solid $Desaturated-Blue-Text;
      @media screen and (max-width: 700px) {
        display: block;
        margin: 2rem 0;
      }
    }
    .heading {
      h1 {
        color: $White-Text;
        font-size: 2.7rem;
      }
      p {
        font-size: 1.8rem;
        font-weight: 800;
        color: $Desaturated-Blue-Text;
      }
    }
    .dark-mode-container {
      align-self: center;
      display: flex;
      @media screen and (max-width: 700px) {
        align-self: stretch;
        justify-content: space-between;
      }
      span {
        color: $Desaturated-Blue-Text;
        font-size: 1.8rem;
        font-weight: 800;
        margin-right: 1rem;
        align-self: center;
      }
      .dark-mode-toggle {
        align-self: center;
        width: 5.3rem;
        height: 2.6rem;
        border-radius: 6rem;
        background: $Toggle-Grad;
        position: relative;
        display: flex;
        align-items: center;
        transition: 300ms;
        &-btn {
          position: absolute;
          left: 0;
          width: 1.8rem;
          height: 1.8rem;
          background: $Very-Dark-Blue-Top-BG-Pattern;
          border-radius: 50%;
          margin: 0.5em;
          transition: transform 300ms;
        }
        &:hover {
          background: $Toggle-Grad;
          cursor: pointer;
        }
      }
    }
  }
  .followers-cards-conatiner {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-gap: 2rem;
    .followers-card {
      background-color: $Dark-Desaturated-Blue-Card-BG;
      min-height: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 2rem;
      border-radius: 0.5rem;
      overflow-x: hidden;
      position: relative;
      transition: 300ms ease-in-out;

      &:hover {
        cursor: pointer;
        background: hsl(228, 28%, 30%);
      }
      &::before {
        content: "";
        width: 100%;
        position: absolute;
        top: 0;
        height: 0.5rem;
      }
      &:nth-of-type(1)::before {
        background-color: $Facebook;
      }
      &:nth-of-type(2)::before {
        background-color: $Twitter;
      }
      &:nth-of-type(3)::before {
        background-image: $Instagram;
      }
      &:nth-of-type(4)::before {
        background-color: $YouTube;
      }
      .username {
        display: flex;
        span {
          font-size: 1.4rem;
          color: $Desaturated-Blue-Text;
          margin-left: 1rem;
          font-weight: bold;
        }
      }
      .followers-number {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          color: $White-Text;
          font-size: 6rem;
        }
        span {
          color: $Dark-Grayish-Blue-Text;
          text-transform: uppercase;
          font-size: 1.4rem;
          letter-spacing: 0.5rem;
        }
      }
      .followers {
        &-increase,
        &-decrease {
          font-size: 1.4rem;
          display: flex;
          align-items: center;
          font-weight: bold;
          span {
            margin-left: 0.5rem;
          }
        }
        &-increase {
          color: $Lime-Green;
        }
        &-decrease {
          color: $Bright-Red;
        }
      }
    }
  }

  h2.overview-heading {
    color: $White-Text;
    font-size: 2.7rem;
    margin: 5rem 0 2rem 0;
  }
  .overview-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-gap: 2rem;
    .overview-card {
      height: 13rem;
      padding: 2.5rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $Dark-Desaturated-Blue-Card-BG;
      border-radius: 0.5rem;
      transition: 300ms ease-in-out;
      &:hover {
        cursor: pointer;
        background: hsl(228, 28%, 30%);
      }
      .card-footer,
      .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
          font-size: 1.8rem;
          color: $Desaturated-Blue-Text;
        }
        span.number {
          font-size: 3.5rem;
          font-weight: bold;
          color: $White-Text;
        }
        .increase,
        .decrease {
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          font-weight: bold;
          img {
            margin-right: 0.3rem;
          }
        }
        .increase {
          color: $Lime-Green;
        }
        .decrease {
          color: $Bright-Red;
        }
      }
      .card-footer {
        align-items: baseline;
      }
    }
  }
  .attribution {
    font-size: 1.2rem;
    color: $White-Text;
    text-align: center;
    margin-top: 1rem;
    a {
      color: $Desaturated-Blue-Text;
      font-weight: bold;
      text-decoration: none;
    }
  }
  //   header toggle --------------------------------
  &.toggle {
    background-color: $Very-Pale-Blue-Top-BG-Pattern;
    .heading {
      h1 {
        color: $Very-Dark-Blue-Text;
      }
      p {
        color: $Dark-Grayish-Blue-Text;
      }
    }

    .dark-mode-container {
      span {
        color: $Dark-Grayish-Blue-Text;
      }
      .dark-mode-toggle {
        background: $Toggle;

        .dark-mode-toggle-btn {
          transform: translateX(2.45rem);
          background: $White-BG;
        }
      }
    }
    .followers-card {
      background-color: $Light-Grayish-Blue-Card-BG;
      &:hover {
        background-color: hsl(227, 47%, 90%) !important;
      }
      &:hover {
        background: hsl(228, 28%, 30%);
      }
      .username {
        span {
          color: $Dark-Grayish-Blue-Text;
        }
      }
      .followers-number {
        h3 {
          color: $Very-Dark-Blue-Text;
        }
        span {
          color: $Dark-Grayish-Blue-Text;
        }
      }
    }
    .overview-heading {
      color: $Very-Dark-Blue-Text;
    }
    .overview-container {
      .overview-card {
        background-color: $Light-Grayish-Blue-Card-BG;
        &:hover {
          background-color: hsl(227, 47%, 90%);
        }
        h3 {
          color: $Dark-Grayish-Blue-Text;
        }
        .card-footer .number {
          color: $Very-Dark-Blue-Text;
        }
      }
    }
    .attribution {
      color: $Very-Dark-Blue-Text;
      a {
        color: $Dark-Grayish-Blue-Text;
      }
    }
  }
}
